@import 'partials/normalize.scss';
@import 'partials/mixins.scss';

$sans: 'Open Sans', sans-serif;
$serif: 'Lora', serif;
$p-color: #513392;
$s-color: #a9509f;
$t-color: #b86fb0;
/* ==========================================================================
   Base styles
   ========================================================================== */

html {
  box-sizing: border-box;
  color: #333;
  font-size: 21px;
  height: 100%;
  line-height: 1.4;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background: url('../_i/bg_body.jpg') top no-repeat;
  background-size: cover;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

%center {
  margin: 0 auto;
  max-width: 1000px;
}

%center-padding {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1rem;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

.new-note {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .4);
  opacity: 1;
  z-index: 200;
}

.new-note__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
  padding: 10px 20px 40px;
  transform: translate(-50%, -50%);
  width: 500px;
  h3 {
    color: #8c9094;
    font: 300 1.25rem/1 $sans;
    margin: 1em 0 0;
  }
  .new-note__group {
    border-top: 1px solid #f6f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 0;
    padding: 1em 0 0;
    width: 100%;
    &:last-child {
      display: block;
      text-align: right;
    }
  }
  label {
    color: #8c9094;
    font: 1rem/1 $sans;
    flex: 1 0 auto;
  }
  input {
    font: 300 .8rem $sans;
    flex-shrink: 1;
    padding: 1% 2%;
  }
  button {
    background: #26a69a;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    font: .9rem $sans;
    outline: none;
    letter-spacing: .5px;
    margin: 0;
    padding: .25em .75em;
    text-transform: uppercase;
    transition: all .3s;
    &:hover {
      background: #2bbbad;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }

  }
}

.new-note__close {
  position: absolute;
  top: 2%;
  right: 3%;
  color: #e75a47;
  cursor: pointer;
}

.calendar {
  display: flex;
  height: 90%;
  flex: 1 0 auto;
  position: relative;
  max-width: 1400px;
}

.calendar-block {
  background: #fff;
  height: 100%;
  margin: 0 auto;
  width: 65%;
}

.calendar-notes {
  background: #504aa4;
  background: linear-gradient(to bottom, #504aa4 0%, #4267b5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#504aa4', endColorstr='#4267b5', GradientType=0);
  height: 100%;
  width: 35%;
}

header {
  background: #f5f5f3;
  display: flex;
  justify-content: space-between;
  height: 6rem;
  padding: 0 6.5% 0 7.3%;
  position: relative;
}

.calendar-main__title {
  color: #898d90;
  font: 300 2rem/6rem $sans;
  margin: 0;
}

.calendar-main__nav {
  align-self: center;
  white-space: nowrap;
  li {
    background: transparent;
    border: 1px solid transparent;
    border-radius: .5em;
    color: #898d90;
    cursor: pointer;
    display: inline-block;
    font: .75rem/1 $sans;
    padding: .5em;
    transition: all .4s;
    &.active {
      background: #fff;
      border: 1px solid #e3e3e1;
      border-radius: .5em;
    }
  }
  li + li {
    margin-left: .5em;
  }
}

.calendar-main {
  margin: 6.5% auto 0;
  position: relative;
  width: 85%;
}

.calendar__wrap {
  .row:first-child {
    border-bottom: 2px solid #efefec;
    font-weight: bold;
    padding-bottom: .5rem;
  }
}

.row {
  display: flex;
  font: .8rem/2.5rem $sans;
  justify-content: space-between;
  margin: 1rem auto;
  width: 85%;
}

.col {
  color: #575e64;
  cursor: pointer;
  border-radius: 50%;
  background: #fff;
  height: 2.5rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all .3s;
  width: 2.5rem;
  &#today {
    background: mediumpurple;
    color: #fff;
  }
  &.unactive {
    color: #d6d6ce;
  }
  &:hover {
    font-weight: bold;
  }
  &.selected {
    box-shadow: 0 0 10px 0 #4267b5;
    color: #fff;
    background: #4267b5;
    font-weight: bold;
  }
  &.contain {
    cursor: pointer;
  }
  &.contain::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: yellowgreen;
    border-radius: 50%;
    content: '';
    display: block;
    height: .3rem;
    margin: 0 auto;
    width: .3rem;
  }
  &.contain.done::before {
    background: #2dbd9b;
  }
  &.selected.contain::before {
    display: none;
  }
}

.prev-btn {
  position: absolute;
  top: 50%;
  left: 0;
  background: url('../_i/icon_prev.png') center no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 1.45rem;
  margin-top: -.75rem;
  width: .9rem;
  z-index: 50;
}

.next-btn {
  position: absolute;
  top: 50%;
  right: 0;
  background: url('../_i/icon_next.png') center no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 1.45rem;
  margin-top: -.75rem;
  width: .9rem;
  z-index: 50;
}

.calendar-count {
  border-top: 2px solid #eaeae6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 6.5% auto 0;
  padding-top: 6.5%;
  width: 85%;
}

.count-list {
  flex: 1 0 auto;
}

.count-list__item {
  display: inline-block;
  font: 1.2rem/1.4 $sans;
  position: relative;
  span {
    display: block;
    font-size: 2em;
    font-weight: 300;
  }
  &.done {
    color: #2dbd9b;
  }
  &.undone {
    color: #e8aa2e;
  }
  &.all {
    color: #8c9094;
  }
}

.count-list__item + .count-list__item {
  margin-left: 10%;
  &::before {
    position: absolute;
    top: 50%;
    left: -2rem;
    background: #d6d6ce;
    border-radius: 50%;
    content: '';
    height: .4rem;
    width: .4rem;
  }
}

.add_note {
  background: #2dbd9b;
  border-radius: 50%;
  cursor: pointer;
  height: 2.5rem;
  position: relative;
  transition: all .3s;
  width: 2.5rem;
  &::before {
    color: #fff;
    content: '+';
    display: block;
    font: 2rem/2.4rem $sans;
    text-align: center;
  }
  &:hover {
    box-shadow: 0 0 10px 0 #2dbd9b;
    transform: rotate(-90deg);
  }
}

.calendar-notes {
  color: #fff;
  font-family: $sans;
  padding: 0;
  p {
    margin: 0;
  }
  footer {
    display: none;
    margin-top: 5%;
  }
}

.delete-comp {
  cursor: pointer;
  font: .7rem $sans;
  padding: 0 10%;
  text-align: right;
}

.calendar-notes__date {
  margin: 27% 0 0 25%;
}

.date-title {
  font-size: 1rem;
  font-weight: 300;
}

.date-subtitle {
  font-size: 2rem;
  line-height: .8;
}

.notes-list {
  border-left: 2px solid rgba(255, 255, 255, .5);
  margin: 15% 0 0 12.5%;
  padding-left: 12.5%;
  position: relative;
}

.notes-list__item {
  font-weight: 300;
  position: relative;
  .item__date {
    position: absolute;
    top: 0;
    left: -4.4rem;
    background: #e8aa2e;
    border-radius: .5em;
    display: inline-block;
    font-size: .75rem;
    padding: .3em .5em;
    transition: all .3s;
  }

  .item__title {
    display: inline-block;
    max-width: 70%;
    transition: all .3s;
    vertical-align: middle;
  }

  &.completed {
    .item__date {
      background: #2dbd9b;
    }
    .item__title {
      opacity: .3;
      text-decoration: line-through;
    }
  }

  &:hover {
    .helpers-buttons {
      opacity: 1;
    }
  }
}

input, button {
  outline: none;
}

.helpers-buttons {
  position: absolute;
  top: 50%;
  right: 5%;
  opacity: 0;
  transition: all .3s;
  transform: translateY(-50%);
  input, button {
    cursor: pointer;
    outline: none;
  }
}

.toggle {
  vertical-align: middle;
  text-align: center;
  width: 30px;
  height: 30px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.toggle:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.toggle:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.destroy-btn {
  vertical-align: middle;
  background: transparent;
  border: none;
  color: #e8aa2e;
  transition: all .3s;
  &:hover, &:active {
    color: #e75a47;
  }
}

.edit-btn {
  vertical-align: middle;
  background: transparent;
  border: none;
  color: #fff;
  transition: all .3s;
  &:hover, &:active {
    color: yellowgreen;
  }
}

.notes-list__item + .notes-list__item {
  margin-top: 7.5%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}