doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Calendar
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic|Lora:400,700,' +
    '400italic&subset=latin,cyrillic-ext'
    rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='_css/main.css')
  body
    .container
      .new-note.hidden
        .new-note__inner
          .new-note__close ✕
          h3 Новая заметка:
          .new-note__group
            label(for='note-title') Название:
            input(id='note-title' type='text')
          .new-note__group
            label(for='note-date') Дата:
            input(id='note-date' type='text')
          .new-note__group
            label(for='note-time') Время:
            input(id='note-time' type='text')
          .new-note__group
            button.add-note Сохранить
      .calendar
        .calendar-block
          header
            h2.calendar-main__title
            ul.calendar-main__nav
              li Сегодня
              li.active Месяц
              li Год
          .calendar-main
            .calendar__prev
            .calendar__next
          .calendar-count
            ul.count-list
              li.count-list__item.done
              li.count-list__item.undone
              li.count-list__item.all
            .add_note
        .calendar-notes.hidden
          .calendar-notes__date
            p.date-title 17 Января
            p.date-subtitle Воскресенье
          ul.notes-list
            li.notes-list__item
              span.item__date 20:30
              span.item__title Take Volvo and go for a ride
              .helpers-buttons
                input(type='checkbox').toggle
                button.destroy-btn ✕
            li.notes-list__item
              span.item__date 20:30
              span.item__title Take Volvo and go for a ride
              .helpers-buttons
                input(type='checkbox').toggle
                button.destroy-btn ✕
            li.notes-list__item
              span.item__date 20:30
              span.item__title Take Volvo and go for a ride
              .helpers-buttons
                input(type='checkbox').toggle
                button.destroy-btn ✕
            li.notes-list__item
              span.item__date 20:30
              span.item__title Take Volvo and go for a ride
              .helpers-buttons
                input(type='checkbox').toggle
                button.destroy-btn ✕
            li.notes-list__item.completed
              span.item__date 20:30
              span.item__title Take Volvo and go for a ride
              .helpers-buttons
                input(type='checkbox').toggle
                button.destroy-btn ✕
            li.notes-list__item
              span.item__date 20:30
              span.item__title Take Volvo and go for a ride
              .helpers-buttons
                input(type='checkbox').toggle
                button.destroy-btn ✕
          footer
            p.delete-comp Удалить завершенные
    script(src='_js/main.js')