doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Calendar
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic|Lora:400,700,' +
    '400italic&subset=latin,cyrillic-ext'
    rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='_css/main.css')
  body
    .container
      .calendar
        .calendar-block
          header
            h2.calendar-main__title Январь 2016
            ul.calendar-main__nav
              li Сегодня
              li.active Месяц
              li Год
          .calendar-main
            .calendar__wrap
              .row
                .col Пн
                .col Вт
                .col Ср
                .col Чт
                .col Пт
                .col Сб
                .col Вс
              .row
                .col 29
                .col 30
                .col 31
                .col 1
                .col 2
                .col 3
                .col 4
              .row
                .col.contain.done 5
                .col 6
                .col 7
                .col 8
                .col 9
                .col 10
                .col 11
              .row
                .col 12
                .col 13
                .col.contain.done 14
                .col 15
                .col 16
                .col.selected.contain 17
                .col 18
              .row
                .col 19
                .col 20
                .col 21
                .col.contain 22
                .col 23
                .col 24
                .col 25
              .row
                .col 26
                .col 27
                .col 28
                .col 29
                .col.contain.done 30
                .col.contain 31
                .col 1

            .calendar__prev
            .calendar__next
          .calendar-count
            ul.count-list
              li.count-list__item.done Завершенные <span>48</span>
              li.count-list__item.undone Незавершенные <span>12</span>
              li.count-list__item.all Все задачи <span>60</span>
            .add_note
        .calendar-notes
          .calendar-notes__date
            p.date-title 17 Январь
            p.date-subtitle Воскресенье
          ul.notes-list
            li.notes-list__item <span>15:00</span> Design personal calendar
            li.notes-list__item <span>18:00</span> Take volvo and go for a ride
            li.notes-list__item <span>20:30</span> Search for a job
            li.notes-list__item <span>21:45</span> Go with the dog for a walk
            li.notes-list__item <span>20:30</span> Search for a job
            li.notes-list__item <span>15:00</span> Design personal calendar
    script(src='_js/main.js')